<!-- 🚀 AÑADIMOS LA CLASE DE DESPEDIDA AL CONTENEDOR PRINCIPAL -->
<div class="card-wrapper" (click)="verDetalle()" [class.is-leaving]="isLeaving()">
  <div class="game-card">
    <img class="bg-image" [src]="imageUrl()" [alt]="title()" loading="lazy">
    
    <div class="gradient-overlay"></div>
    
    @if (context() === 'search') {
      @if (showAddButton()) {
        <button class="fab-add-btn" (click)="onAddClick($event)" aria-label="Añadir a biblioteca">
          <i class="bi bi-plus"></i>
        </button>
      } @else {
        <div class="fab-added-badge" title="Ya en tu colección">
          <i class="bi bi-check2"></i>
        </div>
      }
    } @else if (context() === 'library') {
      <button class="fab-options-btn" (click)="onOptionsClick($event)" aria-label="Opciones del juego">
        <i class="bi bi-three-dots-vertical"></i>
      </button>
      
      @if (status() === 'jugando') {
        <!-- 🚀 AÑADIMOS LA CLASE DEL LATIDO AL TROFEO -->
        <button class="fab-complete-btn" [class.pop-anim]="isPopping()" (click)="onCompleteClick($event)" title="¡Me lo he pasado!">
          <i class="bi bi-trophy-fill"></i>
        </button>
      }
    }

    <div class="game-info">
      <h3 class="title">{{ title() }}</h3>
    </div>
  </div>
</div>