<div class="card h-100 search-result-card border-0 shadow-sm">
  <div class="img-container" 
       style="cursor: pointer;" 
       (click)="onVerInfo()"
       data-bs-toggle="modal" 
       data-bs-target="#modalDetalles">
    
    <div class="blur-background" [style.background-image]="'url(' + game.logo + ')'"></div>
    
    <img [src]="game.logo" class="main-img" alt="logo">
    
    <div class="img-overlay"></div>
  </div>

  <div class="card-footer p-2 border-0">
    <button (click)="onAdd()" 
            class="btn btn-primary btn-sm w-100 fw-bold"
            [disabled]="game.yaLoTengo">
      {{ game.yaLoTengo ? '✓ EN BIBLIOTECA' : '+ AÑADIR' }}
    </button>
  </div>
</div>