<div class="card h-100 search-result-card border-0 shadow-sm">
  <div class="img-container" 
       style="cursor: pointer;" 
       (click)="onVerInfo()">
    
    <div class="blur-background" [style.background-image]="'url(' + (game.logo || game.image_url) + ')'"></div>
    
    <img [src]="game.logo || game.image_url" class="main-img" alt="Portada del juego">
  </div>

  <div class="card-footer p-2 border-0 mt-auto">
    <button (click)="onAdd()" 
            class="btn btn-primary btn-sm w-100 fw-bold"
            [disabled]="game.yaLoTengo">
      {{ game.yaLoTengo ? '✓ EN BIBLIOTECA' : '+ AÑADIR' }}
    </button>
  </div>
</div>