<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 pb-4">
  @for (oferta of ofertas(); track oferta.dealID) {
    <div class="col animate__animated animate__zoomIn">
      <div class="radar-glass-card h-100 d-flex flex-column compact-card">
        
        <div class="position-relative">
          <img [src]="oferta.thumb" class="w-100 object-fit-cover" style="height: 110px;" [alt]="oferta.title">
          <div class="position-absolute top-0 end-0 m-1">
            <span class="badge discount-badge-mini shadow-sm border border-light border-opacity-10 py-1 px-2">
              -{{ formatearDescuento(oferta.savings) }}%
            </span>
          </div>
        </div>

        <div class="p-2 d-flex flex-column flex-grow-1">
          <h6 class="text-white fw-bold text-truncate mb-2" [title]="oferta.title" style="font-size: 0.85rem;">
            {{ oferta.title }}
          </h6>
          
          <div class="mt-auto d-flex justify-content-between align-items-center pt-2 border-top border-secondary border-opacity-10">
            <div class="d-flex flex-column">
              <span class="text-decoration-line-through text-muted extra-small">{{ oferta.normalPrice }}€</span>
              <span [class.text-warning]="oferta.salePrice === '0.00'" class="text-success fw-bold small">
                {{ oferta.salePrice === '0.00' ? 'GRATIS' : oferta.salePrice + '€' }}
              </span>
            </div>
            <button class="btn btn-info btn-sm fw-bold rounded-pill text-dark px-2" style="font-size: 0.7rem;" (click)="irAOferta(oferta.steamAppID)">
              STEAM
            </button>
          </div>
        </div>

      </div>
    </div>
  }
</div>