<div class="modal-backdrop" (click)="cerrar()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="cerrar()">&times;</button>

    @if (loading()) {
      <div class="loading-state">
        <div class="spinner"></div>
        <p>Descifrando información...</p>
      </div>
    } @else if (game()) {
      <div class="modal-grid">
        <div class="sidebar">
          <img [src]="getFullCover(game()?.cover?.image_id)" [alt]="game()?.name">
          
          @if (game()?.rating) {
            <div class="stats">
              <div class="stat-item">
                <span class="label">Puntuación</span>
                <span class="value success">{{ game()?.rating | number:'1.0-0' }}%</span>
              </div>
            </div>
          }
        </div>

        <div class="main-info">
          <h1>{{ game()?.name }}</h1>
          
          <div class="tags">
            @for (genre of game()?.genres; track genre.id) {
              <span class="tag">{{ genre.name }}</span>
            }
          </div>

          <div class="description">
            @if (game()?.summary) {
              <h3>Sinopsis</h3>
              <p>{{ game()?.summary }}</p>
            }
          </div>

          @if (game()?.screenshots && game()!.screenshots!.length > 0) {
            <div class="carousel-wrapper mt-4">
              <div class="carousel-header">
                <h3>Capturas de pantalla</h3>
                <div class="carousel-controls">
                  <button class="btn-scroll" (click)="scroll(scrollContainer, 'left')"><i class="bi bi-chevron-left"></i></button>
                  <button class="btn-scroll" (click)="scroll(scrollContainer, 'right')"><i class="bi bi-chevron-right"></i></button>
                </div>
              </div>

              <!-- El contenedor con la referencia local -->
              <div class="screenshots-container" #scrollContainer>
                @for (snap of game()?.screenshots; track snap.id) {
                  <div class="screenshot-card" (click)="abrirImagenCompleta(snap.image_id)">
                    <img [src]="getScreenshotUrl(snap.image_id)" alt="Gameplay">
                  </div>
                }
              </div>
            </div>
          }

          <div class="meta-grid mt-4">
            <div class="meta-item">
              <strong>Plataformas:</strong>
              <span>{{ getPlatformsText() }}</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>